# **Quiz 1 Preparation**

## Variable types

In [2]:
# Integer type - whole numbers
x = 5
print(type(x))

<class 'int'>

In [3]:
# Floating point type (float) - decimal numbers
y= 5.5
print(type(y))

<class 'float'>

In [4]:
# String type - text
name = "Bryan"
print(type(name))

<class 'str'>

In [5]:
# Boolean type - True or False
is_student = True
print(type(is_student))

<class 'bool'>

In [ ]:
# List type - ordered collection of items
fruits = ["apple", "banana", "cherry", "apple", "banana"]
print(type(fruits))

<class 'list'>

In [7]:
#  Dictionary type - key-value pairs
person = {"name": "Alice", "age": 30}
print(type(person))

<class 'dict'>

In [ ]:
# Set type - unordered collection of unique items
unique_numbers = {1, 2, 3, 4, 5}
print(type(unique_numbers))
print('List with duplicates:', fruits)
print('Set from list: ', set(fruits))

<class 'set'>
List with duplicates: ['apple', 'banana', 'cherry']
Set from list:  {'banana', 'apple', 'cherry'}

In [9]:
# None type - represents the absence of a value
nothing = None
print(type(nothing))

<class 'NoneType'>

## Strings

In [ ]:
# Use triple quotes for multi-line strings or to include both single and double quotes
multi_line_string = """This is a multi-line string.
It can span multiple lines and include both 'single' and "double" quotes."""
print(multi_line_string)

This is a multi-line string.
It can span multiple lines and include both 'single' and "double" quotes.

In [20]:
# Indexing and slicing
sample_string = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
print('First character: {0}'.format(sample_string[0]))
print('Last character: {0}'.format(sample_string[-1]))
print(f'Every other character starting from index 0: {sample_string[0::2]}')

First character: A
Last character: Z
Every other character starting from index 0: ACEGIKMOQSUWY

In [ ]:
# New line
print("Hello\nWorld")

Hello
World

In [23]:
# Raw string (ignores escape sequences)
print(r'Hello\nWorld')

Hello\nWorld

## Binary operators and comparisons

In [27]:
# Binary operators - take two operands and perform an operation on them
false_equation = (5 + 3) == 10
print('Addition operation result:', false_equation)
true_modulus = (10 % 3) == 1
print('Modulus operation result:', true_modulus)

Addition operation result: False
Modulus operation result: True

In [47]:
# Comparison operators - compare two values
is_equal = (5 == 5)
print("Equals result:", is_equal)
is_not_equal = (5 != 3)
print("Not equals result:", is_not_equal)

Equals result: True
Not equals result: True

## Identity operator

In [39]:
xi = [5,6,9]
yi = [5,6,9]
zi = xi
wi = xi.copy()
print("The 'is' operator does not compare values, therefore xi is yi:", xi is yi)
print("It compares memory locations, therefore xi is zi:", xi is zi)
print("The copy method creates a new object, therefore xi is wi:", xi is wi)

The 'is' operator does not compare values, therefore xi is yi: False
It compares memory locations, therefore xi is zi: True
The copy method creates a new object, therefore xi is wi: False

In [46]:
ai = [1,2,3]
bi = ai
ai.append(4)
print('When variable ai is modified, variable bi is also affected:', bi)

When variable ai is modified, variable bi is also affected: [1, 2, 3, 4]

In [45]:
# Python creates exactly one instance of None in memory when the interpreter starts
an = None
bn = None
print('None is a singleton object, therfore an is bn:', an is bn)

None is a singleton object, therfore an is bn: True

## Escape sequences

In [57]:
print('\tEscape sequence\t\tMeaning')
print('\t\t', r'\n', '\t\tNew line')
print('\t\t', r'\t', '\t\tTab')
print('\t\t', r'\uXXXX', '\t\tUnicode hex value')
print('For example, the Greek letter \u03B1 is', r'\u03B1')

	Escape sequence		Meaning
		 \n 		New line
		 \t 		Tab
		 \uXXXX 		Unicode hex value
For example, the Greek letter Î± is \u03B1

In [58]:
for num in range(1,5):
    print('Number:', num)

Number: 1
Number: 2
Number: 3
Number: 4

In [62]:
a = ['a', 'b', 'c']
a += ['d', 'e']
a[-1:] = ['d', 'e']
print(a)

['a', 'b', 'c', 'd', 'd', 'e']

In [64]:
func = lambda x: return x
print(func(2))

SyntaxError: invalid syntax (2524517616.py, line 1)

In [68]:
if (1,2):
print('Tuple (1,2) is considered True in a boolean context')

IndentationError: expected an indented block after 'if' statement on line 1 (3023700929.py, line 2)

In [70]:
numbers = [1,2,3]

print(list(filter(lambda x: (x + 1) * 3 / 3 % 3 == 0, numbers)))

print(list(filter(lambda x: 2, numbers)))

print(list(filter(lambda x: x > 1, numbers)))

print(list(filter(lambda x: x % 2 == 1, numbers)))

[2]
[1, 2, 3]
[2, 3]
[1, 3]

In [71]:
(lambda x: (x+3) *5/2)(3)

15.0

In [73]:
d = {'foo': 100, 'bar': 200, 'baz':300}
d['bar':'baz']

KeyError: slice('bar', 'baz', None)

In [75]:
a = ['foo', 'bar', 'baz']
print(a[:] is a)

False

In [76]:
print("" in "Hello World!")

True

In [77]:
if 'bar' in {'foo': 1, 'bar': 2, 'baz':3}:
    print(1)
    print(2)
    if 'a' in 'qux':
        print(3)
print(4)

1
2
4

In [78]:
for num in range(1,5):
    print(num)

1
2
3
4

In [82]:
x = [1,2,{'foo':1,'bar':{'x':10,'y':20,'z':30}}]
'z' in x[2]['bar']

True

In [83]:
set('abc')

{'a', 'b', 'c'}

In [84]:
print(bool([]))

False

In [86]:
print(bool('None'))

True

In [88]:
x = 5
y = -5
x,y = (y,x)[::-1]
print(x,y)

5 -5

In [94]:
from math import sqrt
x = -100
print(x > 0 and sqrt(x))

False

In [97]:
a = ['a', 'b', 'c']
a[-1:] = ['d', 'e']
print(a)

['a', 'b', 'd', 'e']

In [ ]:
values = ["a","b"]
enumerate(values)