# Quiz 1 Preparation

## Variable types

In [2]:
# Integer type - whole numbers
x = 5
print(type(x))

<class 'int'>

In [3]:
# Floating point type (float) - decimal numbers
y= 5.5
print(type(y))

<class 'float'>

In [4]:
# String type - text
name = "Bryan"
print(type(name))

<class 'str'>

In [5]:
# Boolean type - True or False
is_student = True
print(type(is_student))

<class 'bool'>

In [ ]:
# List type - ordered collection of items
fruits = ["apple", "banana", "cherry", "apple", "banana"]
print(type(fruits))

<class 'list'>

In [7]:
#  Dictionary type - key-value pairs
person = {"name": "Alice", "age": 30}
print(type(person))

<class 'dict'>

In [ ]:
# Set type - unordered collection of unique items
unique_numbers = {1, 2, 3, 4, 5}
print(type(unique_numbers))
print('List with duplicates:', fruits)
print('Set from list: ', set(fruits))

<class 'set'>
List with duplicates: ['apple', 'banana', 'cherry']
Set from list:  {'banana', 'apple', 'cherry'}

In [9]:
# None type - represents the absence of a value
nothing = None
print(type(nothing))

<class 'NoneType'>

## Strings

In [ ]:
# Use triple quotes for multi-line strings or to include both single and double quotes
multi_line_string = """This is a multi-line string.
It can span multiple lines and include both 'single' and "double" quotes."""
print(multi_line_string)

This is a multi-line string.
It can span multiple lines and include both 'single' and "double" quotes.

In [ ]:
# Indexing and slicing
sample_string = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
print('First character: {0}'.format(sample_string[0]))
print('Last character: {0}'.format(sample_string[-1]))
print(f'Every other character starting from index 0: {sample_string[0:0:2]}')

First character: A
Last character: Z
Every other character starting from index 0: