In [2]:
from IPython.display import Image
from IPython.core.display import HTML

In [ ]:
import IPython.display
dir(IPython.display)

['Audio',
 'Code',
 'DisplayHandle',
 'DisplayObject',
 'FileLink',
 'FileLinks',
 'GeoJSON',
 'HTML',
 'IFrame',
 'Image',
 'JSON',
 'Javascript',
 'Latex',
 'Markdown',
 'Math',
 'Pretty',
 'ProgressBar',
 'SVG',
 'ScribdDocument',
 'TextDisplayObject',
 'Video',
 'VimeoVideo',
 'YouTubeVideo',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'clear_output',
 'display',
 'display_html',
 'display_javascript',
 'display_jpeg',
 'display_json',
 'display_latex',
 'display_markdown',
 'display_pdf',
 'display_png',
 'display_pretty',
 'display_svg',
 'publish_display_data',
 'update_display']

In [4]:
firstName='David'

# Naming Rules & Conventions

There are only two hard things in Computer Science: cache invalidation and naming things.

— Phil Karlton

Variables names must start with a letter or an underscore, such as:

    _underscore
    underscore_
    
The remainder of your variable name may consist of letters, numbers and underscores.

    password1
    n00b
    un_der_scores
    
Names are case sensitive.

    case_sensitive, CASE_SENSITIVE, and Case_Sensitive are each a different variable.

In [5]:
ashare = 'A'
b = 5
print(ashare)
print(ASHARE)

A

NameError: name 'ASHARE' is not defined

# The Conventions
Readability is very important. 

    student_name  --- good one
    studentname
    studentName  --- ok

Self-explained names are good

    total_student_number   --- good one
    class_size

Avoid using the lowercase letter ‘l’, uppercase ‘O’, and uppercase ‘I’. Why? Because the l and the I look a lot like each other and the number 1. And O looks a lot like 0.

# python keywords
DO NOT use these keywords as name for variable/function/class.

In [6]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Comments
1. single line comment starts with #
2. multiple line comments may have multiple #，or ''' or """

In [7]:
# my first comment
# my second comment
'''
I have too many things to say here
but you can skip itsjfasfsaf
df
a
fsd
ag

You will miss nothing
'''

studentRules = """
rules
1. don't come late
2. bring your id
3. "hello"
"""

In [8]:
print(studentRules)

rules
1. don't come late
2. bring your id
3. "hello"

In [9]:
x="\"hello\""
x

'"hello"'

# Indentation
All statements with the same distance to the right belong to the same block of code, i.e. the statements within a block line up vertically. The block ends at a line less indented or the end of the file. If a block has to be more deeply nested, it is simply indented further to the right.

In [10]:
Image(url= "https://www.python-course.eu/images/blocks.png")

In [11]:
if True:
    print('True')
else:
    print("False")

True

In [21]:
if True:
    print('True')
else:
    print("False")

True

# What if you write a very long line of code?
break it by \

In [5]:
a, b, c = 1, 2, 3
totable = a + b + c
total = a + \
        b + \
        c
# if use ( ), then you don't need \
total = (a+
         b+
         c)
print(total)

6

in [], {}, or () you don't need \ 
```
name = 'Tom'
```

In [23]:
total = ['itemone',
         'itemtwo',
         'itemthree']
print(total)

['itemone', 'itemtwo', 'itemthree']

In [11]:
what = 'wwww\nww\tww'
print(what)
# raw
what = r'wwww\nww\tww'
print(what)

wwww
ww	ww
wwww\nww\tww

### The good news is, most of the modern IDEs can help you reformat code.

# types of number

1. int 
2. bool, True or False
3. float, 1.23、3E-2
4. complex, 1 + 2j、 1.1 + 2.2j

In [27]:
x=2
type(x)

int

In [29]:
x=3.4
type(x)

float

In [61]:
isok = True
print(type(isok))
print(isok)

x=2
print(type(x))
print(x)

if isok:
    print('ok')
    
x='c'
print(type(x))

<class 'bool'>
True
<class 'int'>
2
ok
<class 'str'>

In [60]:
# in python, non-zero is True. 0 and None are False
is_ok = 1
not_ok = 0
if is_ok:
    print('ok')

strange = -1
if strange:
    print('strange')
else:
    print('normal')

none = None
if none:
    print('none')
else:
    print('not')

ok
strange
not

# string

Strings can be created using single quotes or double quotes or even triple quotes.

String in single quotes cannot hold any other single quoted character in it otherwise an error arises because the compiler won’t recognize where to start and end the string. 

Double quotes is preferred, because it helps in creation of Strings with single quotes in them. 

For strings which contain Double quoted words in them, use of triple quotes is suggested. Along with this, triple quotes also allow the creation of multiline strings.

Python does not have a character data type, a single character is simply a string with a length of 1

In [37]:
# word = 'this is good'
word = 'this\'s good'
word = "this's good"
word

"this's good"

In [6]:
sentence = "This's good"
paragraph = """
hello
"hello"
how's going
"""
print(word)
print(sentence)
print(paragraph)

this is good
This's good

hello
"hello"
how's going

In [9]:
# indexing，a : b，slice from a to b-1
mystr='='
mystr*50

'=================================================='

In [31]:
x=8.9
"my number is " + str(x)

'my number is 8.9'

In [32]:
mystr='123456'
print(mystr)                 # print it
print(mystr[0:-2])           # -1 means the last char, -2 is the next to last, and so on.
print(mystr[0])              # the first char
print(mystr[2:5])            # from index 2 to 4
print(mystr[2:])             # all starting from the 3rd
print(mystr * 10)             # repeat the string 10 times
print(mystr + 'hello')        # concatenate strings

mystr = "a: {0}".format('hello')
print(mystr)
print('------------------------------')
 
print('hello\nrunoob')      # \n is new line
print(r'hello\nrunoob')     # use raw string

123456
1234
1
345
3456
123456123456123456123456123456123456123456123456123456123456
123456hello
a: hello
------------------------------
hello
runoob
hello\nrunoob

In [35]:
'a'*5.7

TypeError: can't multiply sequence by non-int of type 'float'

#### Binary operators and comparisons

In [6]:
5 - 7
12 + 21.5
5 <= 2

False

In [58]:
x=[1, 2, 3]
y=[1, 2, 3]

# x ------------> [1, 2, 3] at address 1
# y ------------> [1, 2, 3] at address 2
x is y

True

In [54]:
x==y

True

In [10]:
x=2
y=2

#   x -----> 2  <------y
x is y

True

In [11]:
y=3
x is y

# #   x -----> 2     y -----> 3

False

In [57]:
x==y

True

In [9]:
a = [1, 2, 3]
b = a
c = list(a)
print(a is b)
print(a is c) #compare the memory address

True
False

In [10]:
a == c  #compare the values

True

In [59]:
a = None
b = None
a is b

True

#### Mutable and immutable objects

In [20]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [21]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

### Scalar Types

#### Numeric types

In [12]:
ival = 17239871
ival ** 100

4501955341022038108275559824081901248200602347154284947559058317826595688781079603189522930806934795033769015163261104729024795603266239367649278801844811506725414634247400597491396165462720155908195727989687411182876647134402836769914617104804390003085937226825526078721170879428093199397255022894780513605397694281691445707165556091537413911279085995342578225854617994005799421979106913620211940516130440221637530263988628867208499074426329679803724317011961095984841222819810707950637459564080111472493568227708377343522505126017494584247908230953845935401397833508048529968999953435242101196280778602770006574038568941738016494797765870006012191238789683470869042255832257117627905287451806925747724877840032152608992001

In [1]:
fval = 7.243
fval2 = 6.78e-5

In [24]:
3 / 2 # in python 2, it will be different 3/2 gets 1

1.5

In [25]:
3 // 2

1

In [61]:
19/7

2.7142857142857144

In [59]:
19//7

2

#### Dates and times

In [18]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

30

In [27]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [28]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [29]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [19]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [20]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
print(delta)
print(type(delta))

17 days, 1:59:39
<class 'datetime.timedelta'>

In [32]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

# Multiple statements in one line, seperated by ;

In [13]:
import sys; x = 'test'; sys.stdout.write(x + '\n')

test

5

# Control flow

In [35]:
condition1 = 0 > 20
condition2 = 20 > 0
print(condition1)
print(condition2)
if condition1 : 
    print('0 > 20')
elif condition2 : 
    print('20 > 0')
else : 
    print('no result')

False
True
20 > 0

In [36]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

# print
print always prints new line at the end by default，<font color='red'>You can change it by end=""</font>

In [22]:
x="a"
y="b"
# print new line at end
print( x )
print( y )
 
print('---------')
# no new line at end
print( x, end="" )
print( y, end="" )
print('#####')
print(x, y)
print('{0} {1}'.format(x, y)) # string template

a
b
---------
ab#####
a b
a b

In [62]:
first_name='david'
last_name='li'
greeting='Hello {0} {1}. How are you?'.format(first_name, last_name)
print(greeting)

Hello david li. How are you?

In [63]:
greeting='Hello '+first_name+ ' ' +last_name+". How are you?"
print(greeting)

Hello david li. How are you?

# import and from...import
1. import or from...import
2. import somemodule
3. from somemodule import somefunction
4. from somemodule import firstfunc, secondfunc, thirdfunc
5. from somemodule import *
6. give a short name for Numpy, Pandas, 
```
import numpy as np
import pandas as pd
```
7. some ML libraries have too many modules, so use "from...import" is prefered：
```
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier 
```

In [39]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [12]:
import numpy as np
data = {i : np.random.randn() for i in range(7)}
data

{0: 0.394755418748046,
 1: -0.598523829807789,
 2: -0.14611498868028006,
 3: 0.49558497315273053,
 4: 0.9036870502213735,
 5: -0.01080315337402205,
 6: -0.14501281654910733}

In [13]:
[np.random.randn() for i in range(7)]

[1.0865515829124346,
 1.4226886385529016,
 -1.105280044640326,
 1.220512035732746,
 -0.27947696599014465,
 -0.4103500474534316,
 -0.05439629134913244]

In [62]:
[i*i for i in range(7)]

[0, 1, 4, 9, 16, 25, 36]

#### Variables and argument passing

In [68]:
a = []
a.append(['aaa', 'bbb', 'werer'])
print(a)
a.append(['bb', 'cc', 'www'])
print(a)

[['aaa', 'bbb', 'werer']]
[['aaa', 'bbb', 'werer'], ['bb', 'cc', 'www']]

In [69]:
a = []
a.extend(['aaa', 'bbb', 'werer'])
print(a)
a.extend(['bb', 'cc', 'www'])
print(a)

['aaa', 'bbb', 'werer']
['aaa', 'bbb', 'werer', 'bb', 'cc', 'www']

In [44]:
a = [1, 2, 3]

In [45]:
b = a

In [46]:
a.append(4)
b

[1, 2, 3, 4]

In [70]:
def append_element(some_list, element):
    some_list.append(element)

In [71]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [64]:
def add_element(x, element):
    x=x+element
    # allocate address and put 9 over there then forget
    
x=8
add_element(x, 1)
x

8

#### Dynamic references, strong types

In [27]:
a = 5
print(type(a))
a = 'foo'
print(type(a))

<class 'int'>
<class 'str'>

In [12]:
int_a=5
str_a='foo'

int_a="foo"

In [75]:
# javascript can do it
'result is ' + str(5)

'result is 5'

In [31]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [32]:
a = 5
isinstance(a, int)

True

In [34]:
a = 5
isinstance(a, (int, float))

True

In [65]:
b = 4.5
isinstance(b, (int, float))

True

#### Attributes and methods

```python
In [1]: a = 'foo'

In [2]: a.<Press Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith
```

In [14]:
a = 'foo'
a.upper()

'FOO'

In [79]:
getattr(a, "upper")()

'FOO'

In [53]:
getattr(a, 'split')

#### range

In [16]:
range(100)

range(0, 100)

In [83]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
range(10000000)

range(0, 10000000)

In [56]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [57]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

#### Ternary expressions

In [45]:
# in java or c++,    y = x>0? 10:9
x = 5
y='Non-negative' if x >= 0 else 'Negative'
# in java or c++ （bool:onevalue, anothervalue）
print(y)

Non-negative

## More python basics

### https://docs.python.org/3/tutorial/

## Lab exercise today:

0. Install anaconda and launch Jupyter notebook.

1. Write a python function to tell if a given interger x is a prime number.

2. Write a python function to compute the sum of 1, 2, 3, ... to x by a given integer x.