# Homework 4 - Stock Data Analysis

## Problem 1 - IBM Stock Analysis

In [4]:
# Importing data
import pandas as pd

ibm_df = pd.read_csv('ibm-1.csv')
ibm_df.head()

        Date    Open    High     Low   Close  Adj Close      Volume
0  28-Dec-18  109.20  109.75  107.55  108.06      82.36   5,352,905
1  27-Dec-18  105.15  108.78  104.66  108.78      82.91   6,323,698
2  26-Dec-18  103.25  106.49  101.28  106.49      81.16   6,951,507
3  24-Dec-18  105.07  106.12  102.77  102.84      78.38   3,997,184
4  21-Dec-18  107.55  110.21  105.58  106.06      80.84  10,864,279

In [12]:
# Clean data
ibm_df['Date'] = pd.to_datetime(ibm_df['Date'], format='%d-%b-%y')
ibm_df['Volume'] = ibm_df['Volume'].str.replace(',', '').astype(int)
for col in ['Open', 'High', 'Low', 'Close']:
    ibm_df[col] = ibm_df[col].astype(float)
ibm_df.head()

        Date    Open    High     Low   Close  Adj Close    Volume
0 2018-12-28  109.20  109.75  107.55  108.06      82.36   5352905
1 2018-12-27  105.15  108.78  104.66  108.78      82.91   6323698
2 2018-12-26  103.25  106.49  101.28  106.49      81.16   6951507
3 2018-12-24  105.07  106.12  102.77  102.84      78.38   3997184
4 2018-12-21  107.55  110.21  105.58  106.06      80.84  10864279

In [13]:
# Calculating trade value
ibm_df['Trade Value'] = ibm_df['Close'] * ibm_df['Volume']
ibm_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Trade Value
0,2018-12-28,109.20,109.75,107.55,108.06,82.36,5352905,5.784349e+08
1,2018-12-27,105.15,108.78,104.66,108.78,82.91,6323698,6.878919e+08
2,2018-12-26,103.25,106.49,101.28,106.49,81.16,6951507,7.402660e+08
3,2018-12-24,105.07,106.12,102.77,102.84,78.38,3997184,4.110704e+08
4,2018-12-21,107.55,110.21,105.58,106.06,80.84,10864279,1.152265e+09

In [18]:
# Close price statistics
highest_close = ibm_df['Close'].max()
average_close = ibm_df['Close'].mean()
print('The average closing price was ${0:.2f} with a high of ${1:.2f}'.format(average_close, highest_close))

The average closing price was $137.64 with a high of $161.68