# Homework 4 - Stock Data Analysis

## Problem 1 - IBM Stock Analysis

In [47]:
# Importing data
import pandas as pd

ibm_df = pd.read_csv('ibm-1.csv')
ibm_df.head()

        Date    Open    High     Low   Close  Adj Close      Volume
0  28-Dec-18  109.20  109.75  107.55  108.06      82.36   5,352,905
1  27-Dec-18  105.15  108.78  104.66  108.78      82.91   6,323,698
2  26-Dec-18  103.25  106.49  101.28  106.49      81.16   6,951,507
3  24-Dec-18  105.07  106.12  102.77  102.84      78.38   3,997,184
4  21-Dec-18  107.55  110.21  105.58  106.06      80.84  10,864,279

In [48]:
# Clean data
ibm_df['Date'] = pd.to_datetime(ibm_df['Date'], format='%d-%b-%y')
ibm_df['Volume'] = ibm_df['Volume'].str.replace(',', '').astype(int)
for col in ['Open', 'High', 'Low', 'Close']:
    ibm_df[col] = ibm_df[col].astype(float)
ibm_df.head()

        Date    Open    High     Low   Close  Adj Close    Volume
0 2018-12-28  109.20  109.75  107.55  108.06      82.36   5352905
1 2018-12-27  105.15  108.78  104.66  108.78      82.91   6323698
2 2018-12-26  103.25  106.49  101.28  106.49      81.16   6951507
3 2018-12-24  105.07  106.12  102.77  102.84      78.38   3997184
4 2018-12-21  107.55  110.21  105.58  106.06      80.84  10864279

In [49]:
# Calculating trade value
ibm_df['Trade Value'] = ibm_df['Close'] * ibm_df['Volume']
ibm_df.head().style.format(
    {col: '${:,.2f}' for col in ['Open', 'High', 'Low', 'Close', 'Trade Value']})

In [50]:
# Close price statistics
highest_close = ibm_df['Close'].max()
average_close = ibm_df['Close'].mean()
print('The average closing price was ${0:.2f} with a high of ${1:.2f}'.format(average_close, highest_close))

The average closing price was $137.64 with a high of $161.68

In [51]:
# Days above average close
above_avg = ibm_df[ibm_df['Close'] > average_close]
above_avg.head().style.format(
    {col: '${:,.2f}' for col in ['Open', 'High', 'Low', 'Close', 'Trade Value']})

In [52]:
# Convert to Japanese Yen
yen_per_usd = 107
yen_df = ibm_df.copy()

for col in ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Trade Value']:
    yen_df[col] = yen_df[col] * yen_per_usd

# Display in yen format but keep numeric values
yen_df.head().style.format(
    {col: "¥{:,.2f}" for col in ['Open','High','Low','Close','Adj Close','Trade Value']} |
    {'Date': "{:%d-%b-%y}"}
)

## Problem 2 - IBM Dividend Calculation

In [ ]:
# Organize dataframe
ibm_df = ibm_df.sort_values(['Date'], ascending=[True])
ibm_df = ibm_df.reset_index(drop=True)
ibm_df.head()

        Date    Open    High     Low   Close  Adj Close   Volume   Trade Value
0 2018-01-02  147.71  148.00  146.79  147.47     107.53  4395815  6.482508e+08
1 2018-01-03  150.42  152.78  149.46  151.52     110.49  9875914  1.496398e+09
2 2018-01-04  152.63  155.18  152.36  154.59     112.72  7903785  1.221846e+09
3 2018-01-05  155.30  155.74  154.02  155.34     113.27  5434807  8.442429e+08
4 2018-01-08  155.51  156.70  154.59  156.28     113.96  5478425  8.561683e+08

In [68]:
# Calculate closing ratios
for i in range(0, len(ibm_df)-1):
    ibm_df.loc[i+1, 'Close Ratio'] = ibm_df.loc[i+1, 'Close'] / ibm_df.loc[i, 'Close']
    ibm_df.loc[i+1, 'Adj Close Ratio'] = ibm_df.loc[i+1, 'Adj Close'] / ibm_df.loc[i, 'Adj Close']
ibm_df.head().style.format(
    {col: '${:,.2f}' for col in ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Trade Value']} |
    {'Close Ratio': '{:.5f}', 'Adj Close Ratio': '{:.5f}'} |
    {'Date': "{:%d-%b-%y}"})

In [ ]:
# Dividend days (based on arbitrary tolerance)
tol = 1e-4 # comparison tolerance

is_div = ibm_df['Close Ratio'] - ibm_df['Adj Close Ratio'] > tol
dividends = ibm_df[is_div]
dividends.style.format(
    {col: '${:,.2f}' for col in ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Trade Value']} |
    {'Close Ratio': '{:.5f}', 'Adj Close Ratio': '{:.5f}'} |
    {'Date': "{:%d-%b-%y}"})

In [82]:
# Dividend calculation
dividends['Dividend'] = (ibm_df['Close Ratio'] - ibm_df['Adj Close Ratio']) * ibm_df['Close']
# Drop unneeded columns
dividends = dividends.drop(columns = ['Trade Value','High', 'Low'])
dividends.style.format(
    {col: '${:,.2f}' for col in ['Open', 'Close', 'Adj Close', 'Dividend']} |
    {'Close Ratio': '{:.5f}', 'Adj Close Ratio': '{:.5f}'} |
    {'Date': "{:%d-%b-%y}"})

C:\Users\Bryan Keating\AppData\Local\Temp\ipykernel_2524\1450002570.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dividends['Dividend'] = (ibm_df['Close Ratio'] - ibm_df['Adj Close Ratio']) * ibm_df['Close']

In [83]:
import pandas as pd

def calculate_dividends(filename):
    # Load the stock data
    df = pd.read_csv(filename)

    # Clean data
    df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%y')
    df['Volume'] = df['Volume'].str.replace(',', '').astype(int)
    for col in ['Open', 'High', 'Low', 'Close', 'Adj Close']:
        df[col] = df[col].astype(float)

    # Compute ratios
    df['Close Ratio'] = df['Close'] / df['Close'].shift(1)
    df['Adj Close Ratio'] = df['Adj Close'] / df['Adj Close'].shift(1)

    # Detect dividend days
    tol = 1e-4
    is_div = df['Close Ratio'] - df['Adj Close Ratio'] > tol
    dividends = df[is_div].copy()

    # Calculate dividends
    dividends['Dividend'] = (df['Close Ratio'] - df['Adj Close Ratio']) * df['Close']

    # Drop unneeded columns
    dividends = dividends.drop(columns=['High', 'Low', 'Volume'])

    return dividends

In [84]:
div_aapl = calculate_dividends("aapl-1.csv")
div_amzn = calculate_dividends("amzn-1.csv")
div_goog = calculate_dividends("goog-1.csv")
div_meta = calculate_dividends("meta-1.csv")
div_msft = calculate_dividends("msft-1.csv")

In [86]:
div_aapl

,Date,Open,Close,Adj Close,Close Ratio,Adj Close Ratio,Dividend
10,2018-12-13,42.62,42.74,40.86,1.033116,1.032861,0.010869
17,2018-12-03,46.12,46.21,44.18,1.046185,1.045928,0.011884
20,2018-11-28,44.18,45.24,43.25,1.007797,1.007689,0.004891
26,2018-11-19,47.50,46.47,44.43,1.050407,1.050106,0.013965
29,2018-11-14,48.47,46.70,44.65,0.975967,0.975743,0.010440
...,...,...,...,...,...,...,...
234,2018-01-24,44.31,43.56,41.03,1.018233,1.018114,0.005169
237,2018-01-19,44.65,44.62,42.03,1.008362,1.008155,0.009198
239,2018-01-17,44.04,44.78,42.18,0.999331,0.999053,0.012445
242,2018-01-11,43.65,43.82,41.28,0.989835,0.989691,0.006327
245,2018-01-08,43.59,43.59,41.06,1.000229,1.000000,0.010002