# Practice for Module 2

## Variable type

In python, variables don't innately have a type. Variables are a tag to an object in memory that has a type.

In [46]:
weight = 76.7 # the tag "weight" now is on a float objet whose type is float.
name = 'Bryan'
name

'Bryan'

Assign a value to multiple variables

In [47]:
a = b = c = 100
print(a,b,c)

100 100 100

In [48]:
b = 200
print(a,b,c)

100 200 100

## Unpacking tuple to individual variables

In [49]:
a, b, c = 1, 2.0, 'Hello'
print(type(a),type(b),type(c))
print(str(type(a)).split(' '))
d, e = str(type(a)).split(' ')

<class 'int'> <class 'float'> <class 'str'>
['<class', "'int'>"]

In [50]:
d = d[1:]
e = e[:-1]
print(d,e)

class 'int'

## Multiple output functions

In [51]:
def divide(x,y):
    times = int(x/y)
    rem = x % y
    return times, rem
times, rem = divide(17,4)
times, rem

(4, 1)

## Built in data types

In [52]:
string = 'string'
type(string)

str

In [53]:
integer = 10
type(integer)

int

In [54]:
floating_point = 56.7
type(floater)

float

In [55]:
a,b,c = 1.536, 'Hello', ('abcd', 883, 2.54)
print('a: {0}, id of a: {1}, so a: {0} is good'.format(a,id(a)))

a: 1.536, id of a: 2553597837456, so a: 1.536 is good

In [56]:
a,b,c = 3, 'world', ('efgh',111,20.54)
print('a: {0}, id of a: {1}'.format(a,id(a)))
print('b: {0}, id of b: {1}'.format(b,id(b)))
print('third position of c: {0:.2f}, id of third position of c: {1}'.format(c[2],id(c[2])))

a: 3, id of a: 140713937253352
b: world, id of b: 2553614666896
third position of c: 20.54, id of third position of c: 2553598621680

## Mutable types

In [57]:
mylist = [1,2,34]
mydict = {'one':1,'two':2}
myset = {'no duplicates','unordered', 'no indexing', 'hashable elements'}

In [58]:
print(hash(132535))

132535

In [59]:
print(hash("Bryan"))

-8117657430009652507

In [60]:
print(hash("Colette"))

-9125010963388925893

In [61]:
import hashlib
text = 'Testing SHA256'
hash_object = hashlib.sha256(text.encode())
hash_hex = hash_object.hexdigest()
hash_hex

'10057865542c52c676c4f6446b6d49d2b3f5fdbcde0c63620ec00667a9393ed5'

In [62]:
mylist.append(56)
mylist

[1, 2, 34, 56]

In [63]:
myset.add('Lambda')
myset

{'Lambda', 'hashable elements', 'no duplicates', 'no indexing', 'unordered'}

In [64]:
mylist.extend([56,2,6,53,1,1])
print(mylist)
norepeat = list(set(mylist))
print(norepeat)

[1, 2, 34, 56, 56, 2, 6, 53, 1, 1]
[1, 2, 34, 6, 53, 56]

## Dictionary

Dictionaries may use any immutable variable type as a key, and anything as a value

In [65]:
str_dict = {'str_one':1,
            'str_two':2,
            'str_three':3}
int_dict = {1:'one',
            2:'two',
            3:'three'}
print(str_dict,int_dict)

{'str_one': 1, 'str_two': 2, 'str_three': 3} {1: 'one', 2: 'two', 3: 'three'}

In [67]:
print(int_dict[1])

one

Even touples:

In [70]:
touple_1 = (5,6,'seven',True)
touple_2 = (9,10,'eleven',False)
touple_dict = {touple_1:'first',touple_2:'second'}
touple_dict

{(5, 6, 'seven', True): 'first', (9, 10, 'eleven', False): 'second'}

In [71]:
touple_dict[(5,6,'seven',True)]

'first'

## Number

In [89]:
a,b,c,d = 20, 5.5, True, 4+3j
numbers = [a,b,c,d]
types = [type(num) for num in numbers]
print(types)

[<class 'int'>, <class 'float'>, <class 'bool'>, <class 'complex'>]

Any value that is not zero, empty, or None is True. These other examples are False.

In [94]:
true_vals = [bool(1),bool(-1),bool('five'),bool(0.00004)]
true_vals

[True, True, True, True]

In [97]:
false_vals = [bool(0),bool(0.000000),bool(None),bool('')]
false_vals

[False, False, False, False]