# **Homework 5 - Sleep Data**

## Question 1
Load "msleep.csv" data into dataframe

In [60]:
import pandas as pd
import numpy as np

sleep = pd.read_csv('msleep.csv')
sleep.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

## Question 2
Split the dataframe into three - the good, the bad, and the ugly

In [61]:
nan_count = sleep.isna().sum(axis=1)
good = sleep[nan_count == 0]
bad = sleep[nan_count == 1]
ugly = sleep[nan_count > 1]

## Question 3
Fill the NaN values in the "bad" dataframe with the column mean for those with numeric values, and column mode for those with categorical values

In [62]:
bad = bad.copy() # Avoiding SettingWithCopyWarning
for column in bad.columns:
    if bad[column].dtype in [np.float64]:
        mean_value = bad[column].mean()
        bad.fillna({column: mean_value}, inplace=True)
    else:
        mode_value = bad[column].mode()
        bad.fillna({column: mode_value[0]}, inplace=True)
bad.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
6,Northern fur seal,Callorhinus,carni,Carnivora,vu,8.7,1.4,0.383333,15.3,0.190772,20.49
10,Goat,Capri,herbi,Artiodactyla,lc,5.3,0.6,0.620000,18.7,0.115000,33.50
14,Star-nosed mole,Condylura,omni,Soricomorpha,lc,10.3,2.2,0.620000,13.7,0.001000,0.06
18,Tree hyrax,Dendrohyrax,herbi,Hyracoidea,lc,5.3,0.5,0.620000,18.7,0.012300,2.95
23,Donkey,Equus,herbi,Perissodactyla,domesticated,3.1,0.4,0.620000,20.9,0.419000,187.00

## Question 4
Convert the "order" column into dummies with prefix "order_"

In [63]:
good = pd.get_dummies(good, columns=['order'], prefix='order_')
print("order" in good.columns)

False