# **Quiz 2**
Background knowledge:
* A pairs trade is a trading strategy that involves matching a long position with a short position in two stocks with a high correlation
* A pairs trade strategy is based on the historical correlation of two securities; the securities in a pairs trade hust have a high positive correlation

In [49]:
# Import dependencies
import pandas as pd
import numpy as np

## Question 1
Load the 6 csv files into 6 dataframes

In [50]:
IBM = pd.read_csv('ibm.csv')
MSFT = pd.read_csv('msft.csv')
TSLA = pd.read_csv('tsla.csv')
NFLX = pd.read_csv('nflx.csv')
META = pd.read_csv('meta.csv')
WMT = pd.read_csv('wmt.csv')
WMT.head()

        Date   Open   High    Low  Close  Adj Close      Volume
0  28-Dec-18  30.69  31.16  30.55  30.71      27.99  29,622,000
1  27-Dec-18  29.92  30.54  29.48  30.53      27.82  29,644,500
2  26-Dec-18  28.81  30.14  28.77  30.14      27.47  30,084,900
3  24-Dec-18  28.85  29.19  28.59  28.61      26.07  18,330,900
4  21-Dec-18  28.96  29.82  28.93  29.04      26.47  44,764,500

## Question 2
Retrieve the "Close" columns from the 6 dataframes into 6 serieses.

In [51]:
IBM_close = IBM['Close']
MSFT_close = MSFT['Close']
TSLA_close = TSLA['Close']
NFLX_close = NFLX['Close']
META_close = META['Close']
WMT_close = WMT['Close']
print(type(IBM_close))
MSFT_close.head()

<class 'pandas.core.series.Series'>

0    100.39
1    101.18
2    100.56
3     94.13
4     98.23
Name: Close, dtype: float64

## Question 3
Create a "Close" dataframe with "Date" index and "tks" (ticker) column name

In [52]:
close_prices = pd.DataFrame({
    'IBM': IBM_close.values,
    'MSFT': MSFT_close.values,
    'TSLA': TSLA_close.values,
    'NFLX': NFLX_close.values,
    'META': META_close.values,
    'WMT': WMT_close.values
}, index=IBM['Date'])
print(close_prices.isnull().sum())
print(close_prices.info)
close_prices.head()

IBM     0
MSFT    0
TSLA    0
NFLX    0
META    0
WMT     0
dtype: int64
<bound method DataFrame.info of               IBM    MSFT   TSLA    NFLX    META    WMT
Date
28-Dec-18  108.06  100.39  22.26  256.08  133.20  30.71
27-Dec-18  108.78  101.18  21.08  255.57  134.52  30.53
26-Dec-18  106.49  100.56  21.74  253.67  134.18  30.14
24-Dec-18  102.84   94.13  19.69  233.88  124.06  28.61
21-Dec-18  106.06   98.23  21.32  246.39  124.95  29.04
...           ...     ...    ...     ...     ...    ...
8-Jan-18   156.28   88.28  22.43  212.05  188.28  33.87
5-Jan-18   155.34   88.19  21.11  209.99  186.85  33.38
4-Jan-18   154.59   87.11  20.97  205.63  184.33  33.18
3-Jan-18   151.52   86.35  21.15  205.05  184.67  33.15
2-Jan-18   147.47   85.95  21.37  201.07  181.42  32.86

[250 rows x 6 columns]>

              IBM    MSFT   TSLA    NFLX    META    WMT
Date
28-Dec-18  108.06  100.39  22.26  256.08  133.20  30.71
27-Dec-18  108.78  101.18  21.08  255.57  134.52  30.53
26-Dec-18  106.49  100.56  21.74  253.67  134.18  30.14
24-Dec-18  102.84   94.13  19.69  233.88  124.06  28.61
21-Dec-18  106.06   98.23  21.32  246.39  124.95  29.04

## Question 4
Use the dataframe from question 3 and use "apply" and "lambda" functions to compute each stocks' average price of 2018

In [53]:
close_avg = close_prices.apply(lambda x: x.mean())
close_avg

IBM     137.64452
MSFT    101.03184
TSLA     21.14964
NFLX    319.49684
META    171.67264
WMT      30.78884
dtype: float64

## Question 5
Add a "tech_leader" column to the close_prices dataframe containing the max value of the other 6 columns

In [54]:
close_prices['tech_leader'] = close_prices.apply(lambda row: row.max(), axis=1)
close_prices.head()

              IBM    MSFT   TSLA    NFLX    META    WMT  tech_leader
Date
28-Dec-18  108.06  100.39  22.26  256.08  133.20  30.71       256.08
27-Dec-18  108.78  101.18  21.08  255.57  134.52  30.53       255.57
26-Dec-18  106.49  100.56  21.74  253.67  134.18  30.14       253.67
24-Dec-18  102.84   94.13  19.69  233.88  124.06  28.61       233.88
21-Dec-18  106.06   98.23  21.32  246.39  124.95  29.04       246.39

## Question 6
Write a function called "getCorr(series1, series2)", where series1 and series2 are two columns from the above dataframe in question 3. Within this function, you must use vectorization technique to implement the correlation formula as shown above. (NOTE: If you use an existing correlation/standard deviation functions or if you write a loop here, you get zero point.)

In [57]:
def getCorr(series1: pd.Series, series2: pd.Series) -> float:
    x = series1.values
    y = series2.values
    x_mean = x.mean()
    y_mean = y.mean()
    numerator = np.sum((x - x_mean) * (y - y_mean))
    denominator = np.sqrt(np.sum((x - x_mean)**2) * np.sum((y - y_mean)**2))
    r_xy = numerator / denominator
    return r_xy

## Question 7
Write python code to find which pair of two stocks has the highest correlation. You must use the function of question 6. You can use loop in this question.

In [69]:
tks = [IBM, MSFT, TSLA, NFLX, META, WMT]
names = dict(zip(range(len(tks)), ['IBM', 'MSFT', 'TSLA', 'NFLX', 'META', 'WMT']))

max_corr = -1
best_pair = (None, None)

for i in range(len(tks)):
    for j in range(i + 1, len(tks)):
        corr = getCorr(close_prices.iloc[:, i], close_prices.iloc[:, j])
        if corr > max_corr:
            max_corr = corr
            best_pair = (names[i], names[j])

print(f"The pair of stocks with the highest correlation is: {'{0} and {1}'.format(*best_pair)} with a correlation of {max_corr}")

The pair of stocks with the highest correlation is: IBM and META with a correlation of 0.6338546221059089